:root {
    --c1: #af0808;
    --c2: #ffffff;
    --c3: #949494;
    --c4: #5a0000;
    --c5: black;
    height: 100%;
}

body {
    background-color: var(--c4);
    color: var(--c2);
    height: 100%;
    margin: 0px;
}

header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--c1);
    width: fit-content;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    border: solid 1px var(--c3);
    box-shadow: 2px 2px 5px var(--c5);
    border-top: none;
}

h1{
    font-family: Tourney;
    margin: 5px 3px;
}