:root {
    --c1: #e00000;
    --c2: #ffffff;
    --c3: #360e0ede;
    --c4: #c50000f6;
    --c5: black;
    height: 100%;
    font-family: Tourney;
}

p {font-size: 20px;}

span{
    filter: brightness() drop-shadow(0px 0px 7px);
    font-size: 23px;
}

body {
    background: url("../icons/PageBack.jpg") center;
    color: var(--c2);
    height: 100%;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}    

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--c1);
    width: fit-content;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    border: solid 4px var(--c2);
    filter: drop-shadow(2px 2px 2px var(--c5));
    border-top: none;
}    

h1, h2{
    color: var(--c2);
    text-shadow: 0px 0px 5px var(--c2);
    margin: 5px 3px;
}    

#description {
    position: fixed;
    width: 100%;
    transition: all .2s ease-in;
    z-index: 1;
    overflow: hidden;
}

#description>p {
    font-size: 15px;
    width: 280px;
    margin: auto;
    background-color: var(--c4);
    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--c2);
    border-top: none;
    height: 0;
}

h2 {font-size: 30px;}

.registerForm {
    display: block;
    position: absolute;
    top: 25%;
    width: 100%;
}    

form {
    background-color: var(--c1);
    display: flex;
    margin: auto;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    width: 270px;
    height: 300px;
    outline: 2px solid;
}    

.inputs {
    background-color: var(--c3);
    width: 85%;
    height: 45%;
    border-radius: 10px;
}    

label {
    display: block;
    text-align: justify;
    font-weight: 600;
    margin-top: 5px;
}    

input {
    background: var(--c5);
    border: 1px solid var(--c2);
    border-radius: 3px;
    font-size: medium;
    box-shadow: none;
    color: var(--c2);
    font-family: Tourney;
}    

input:focus {outline: 2px solid var(--c5);}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--c2);
    -webkit-box-shadow: 0 0 0 30px var(--c5) inset !important;
}    

.select_box {
    width: 133px;
    overflow: hidden;
    position: relative;
    height: 18px;
    border: 2px solid;
    border-radius: 2px;
}    

.select_box select {
    width: 180px;
    border: 0px;
    height: 20px;
    background-color: var(--c5);
    color: var(--c2);
    font-family: Tourney;
}    

.buttons {
    display: flex;
    justify-content: space-between;
    width: 75%;
}    

a, button {
    padding: 2px 8px;
    font-size: 20px;
    font-family: Tourney;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    vertical-align: baseline;
}    

.loginButton {
    background-color: var(--c1);
    color: var(--c5);
    border: 2px solid;
    text-decoration: none;
    width: 70px;
}    

button {
    background-color: var(--c5);
    color: var(--c1);
    filter: drop-shadow(0px 0px 1px var(--c2));
    border: 0px;
}    

.loginButton:hover, button:hover {
    color: var(--c2);
    filter: drop-shadow(0px 0px 2px);
    font-size: 21px;
    cursor: pointer;
}    

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.creatorName {
    color: var(--c2);
    text-decoration: none;
}

.creatorName:hover {
    font-size: 22px;
}

@media (min-height: 651px){
    body{ background: linear-gradient(40deg, var(--c4)20%, var(--c5)20%, var(--c5)80%, var(--c4)80%); };
}

@media (max-width: 420px){
    .inputs>input { height: 18px; };
}

@media (min-width: 750px) and (min-height: 800px){
    form { width: 330px; height: 300px; } 
    .inputs { width: 70%; height: 50%; }
    input { height: 20px; }
}